body
{
    background-color: #FFFF00;
}

.container 
{
    display: flex;
    flex-direction: row;

}

.container_foto
{
    width: 150px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 170px;
}

.container_foto img
{
    width: 130px;
    height: 130px;
}

.container_foto h2
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}